<table class="fullpage">
  <tr class="fill">
    <% 3.times do |x| %>
      <% i = x + 1 %>
      <td class="<%= i %>" id="field-<%= i %>">
        <span class="number"><%= i %></span>
      </td>
    <% end %>
  </tr>
  <tr>
    <th colspan="3">Hoch interessante Frage ...</th>
  </tr>
</table>