<div id="fixed_nav" class="navbar navbar-blank navbar-fixed-top spezial" role="navigation">
    <div class="corset">
    
  
  
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#front-main-nav-colapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= CONFIG[:app_name] %></a>
      </div>
      <div class="collapse navbar-collapse" id="front-main-nav-colapse">
        <ul class="nav navbar-nav navbar-left">
          
          <li>
            <%= link_to "1,2 oder 3", game_path %>
          </li>
          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          
          <%= render "navigations/shared/user_dropdown_li" %>
          
        </ul>
      </div>
    
    </div>
  </div>