<% as ||= params[:user_type] && %w(partner client).include?(params[:user_type]) ? params[:user_type]  : "client" %>

<% if request.xhr? %>
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="appModalLabel">
        <%= t('devise.registrations.new.sign_up') %>
    </h4>
  </div>
  <div class="modal-body">
    <%= render "devise/registrations/form", as: as %>
  </div>
<% else %>
  <div class="section sctn-xl">
    <div class="corset">
      <div class="clearfix"></div>
      <br/>
        <%= render "devise/registrations/form", as: as %>
      <br/>
      <div class="clearfix"></div>
    </div>
  </div>
<% end %>

