<div class="section head">
  <div class="corset full">
    <h1>
      <small>Admin |</small>&nbsp; <%= yield :headline %> &nbsp;<small>| Magic-Addresses</small>
      
    </h1>
  </div>
</div>

<div class="section">
  <div class="corset full">
        
        <%= body %>

        <br/>
        <br/>
    
  </div>
</div>

<br/>
<br/>




