
<div class="section">
  <div class="corset">
    
    <%#= content_tag :div, "", id: "calendar", data: { 
                                                            min_time: CONFIG[:calendar_min_time], max_time: CONFIG[:calendar_max_time], 
                                                            min_duration: CONFIG[:calendar_min_duration], max_duration: CONFIG[:calendar_max_duration], 
                                                            lead_time: CONFIG[:lead_time],
                                                            price: CONFIG[:price_per_hour], events: [] 
                                                    } %>
    
    <div id="calendar"></div>
    <div id="calendar_dates"></div>
    <div id="calendar_remove_dates"></div>
    
  </div>
</div>

    