<div class="section head">
  <div class="corset full">
    <h1>
      <%= yield :headline %>
    </h1>
  </div>
</div>

<div class="section">
  <div class="corset full">
    
    <%= yield :locale_infos %>
    
    <div class="divider">
      <h3>Bekannte Sprachen</h3>
    </div>
    
    <%= body %>
    
    <br/>
    <br/>
  </div>
</div>

<br/>
<br/>




