<div class="section head">
  <div class="corset full">
    <h1><%= @user.name %> - Dashboard</h1>
  </div>
</div>

<div class="section">
  <div class="corset full">
    <div class="layout-table grid half-press">
      <div class="cell col-6">
        <h4 class="left_text">0 ausstehende Aufträge</h4>
      </div>
      <div class="cell col-6">
        <h4 class="left_text">0 Benachrichtigungen</h4>
      </div>
    </div>
    <div class="layout-table grid lined">
      <div class="cell col-6">
        <div class="box">
          Bisher nix vorhanden ...
        </div>
      </div>
      <div class="cell col-6">
        <div class="box">
          Bisher nix vorhanden ...
        </div>
      </div>
    </div>
  </div>
</div>


